body {        
  width: 100%;
  height: 100%;
		margin: 0;
	padding: 0;
    background-color: white;
    overflow:hidden;
}

      .slideout-menu {
        position:fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 73.6%;
          height: 100%;
        overflow-y:hidden;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: absolute;
        z-index: 1;
          padding: 0;
          margin: 0;
          height: auto;
          margin-bottom: 0%;
          padding-bottom: 0%;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
          width: 100%;
          margin-left: .7%;
      }

      .slideout-open .slideout-menu {
        display: block;
          margin: 0;
          padding: 0;
          height: 100%;
          
      }

.blue-navbar img{
    width: 100%;
    padding-top: 5.5%;
    position: absolute;
}

.blue-navbar{
    background-color: white;
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    margin-top: -5.6%;
}

.saludo{
    margin-left: 28%;
    padding-top: 24%;
    color: white;
    font-family:monospace;
    font-size: 15px;
}

.saludo2{
    margin-top: -5.2%;
    margin-left: 28%;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.white-navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -18%;
    background-color: white;
}


.white-navbar img{
    width: 10%;
    text-align: left;
    margin-left: -11%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    position: absolute;
}

.white-navbar ul{
    background-color: white;
    text-decoration: none;
    height: 0%;
    margin: 0;
    margin-top: 14%;
}

.white-navbar li{
    text-decoration: none;
    display: block;
}

.white-navbar p{
    padding: 0;
    margin: 0;
    color: #545454;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    text-decoration: none;
    font-family: sans-serif;
}


.white-navbar a{
    text-decoration: none;
}

.opciones{
    margin-top: 18%;
}

.navcontent{
    height: 47%;
    background-color: white;
    width: 100%;
    margin-top: 0%;
}

.redesnav{
    width: 100%;
    height: 9%;
}

.redesnav img{
    margin-top: 94%;
    width: 14%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
}


.navlang{
    padding-left:16%;
    background-color: lightgray;
    height: 10%;
    margin-top: 103%;
    width: 84%;
    padding-bottom: 4%;
}


.navlang img{
    width: 30%;
    margin-top: 3%;
    margin-right: 17%;
}

header{
    width: 100%;
    max-width: 100%;
    height:0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#logomenu{
    width: 8%;
    margin-left: 39%;
    position: absolute;
    margin-top: .1%;
    margin-bottom: .6%;
}

#btn-menu{
    display: none;
}

.tooltip img{
    width: 7%;
    margin-left: 2%;
    margin-top: .6%;
    margin-bottom: .6%;
}

#texto{
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    background-color: dodgerblue;
}



#texto p{
    color: white;
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 18px;
    
}

.slideout-open #texto p{
        color: white;
    font-family: sans-serif;
    margin-top: 5%;
    font-size: 18px;
    
}

.slideout-open #texto{
        padding-left: 6%;
    padding-right: 6%;
    padding-top: 8.3%;
    text-align: center;
    background-color: dodgerblue;
    padding-bottom: .004%;
}


.slideout-open .bloqueo
{
    z-index: 3;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 99%;
    height: 100%;
    margin-left: -9%;
    margin-top: 0;
}


#menu2{
    display: none;
    background-color: white;
    text-decoration: none;
}

#menu3{
    position: absolute;
    width: 85%;
    margin-left: 15%;
    margin-top: 15%;
    text-decoration: none;
}

.submenu{
    display: none;
    text-decoration: none;
}

#menu2:checked ~ .submenu{
    display:block;
   padding-top: 15%;
    margin-left: 0%;
    font-family: sans-serif;
    text-decoration: none;
    margin-bottom: 6%;
}

#menu2:checked ~ .submenu a {
    text-decoration: none;
    color: #545454;
    font-size: 17px;  
}

#menu2:checked ~ .submenu a div{
    width: 84%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 2%;
}

#menu2:checked ~ .submenu a div img{
    width:  8%;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -12%;
    margin-top: -.5%;
}

#menu3 img{
    width: 12%;
}


.panel{
    width: 100%;
}


#logoemp{
 width: 26%;
margin-left: 5%;
margin-top: 4%;
}

.tiemp{
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin: 0;
    margin-top: -24%;
    margin-left: 38%;
}

.diremp{
    position: absolute;
    z-index: 2;
    margin: 0;
    margin-left: 35%;
    margin-right: 3.7%;
    text-align: center;
    margin-top: -17%;
}

.emptext{
    font-size: 16.5px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-top: 4%;
}

.serviciosemp{
    z-index: 1;
    position: absolute;
    margin-left: 52%;
    margin-top: -6%;
}

.serviciosemp img{
width: 10%;  
}

.serviemp img{
    width: 6%;
}

.serviemp{
    margin: 0;
    margin-top: 1.5%;
    margin-left: 5%;
}

.emptext img{
    width: 7%;
    margin-top:-2%;
    margin-left: -9%;
    position: absolute;
}

.emptext a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
}


.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.swiper-slide img{
    width: 100%;
}

.info{
    position: absolute;
    margin-top: 65%;
    background-color: dodgerblue;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}



    .panorama {
      float: left;
      margin-top: 0px;
      height: 65%;
    width: 100%;
      position: relative;
    }